### BEGIN INIT INFO
# Provides:          consul
# Required-Start:    $local_fs $remote_fs
# Required-Stop:     $local_fs $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Consul agent
# Description:       Consul service discovery framework
### END INIT INFO

[Unit]
Description=sonar server
Requires=network-online.target
After=network-online.target

[Service]

PermissionsStartOnly=true



ExecStart={{ sonarqube_home }}/bin/linux-x86-64/sonar.sh start
ExecStop={{ sonarqube_home }}/bin/linux-x86-64/sonar.sh stop



[Install]
WantedBy=multi-user.target
